@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;900&display=swap");
/* global  */
:root {
  --menu-color: rgb(21, 34, 49);
  --orange: rgb(243, 108, 44);
  --font-white: #ffffff;
  --font-grey: #7a7a7a;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  overflow-x: hidden;
  font-family: Roboto;
  cursor: pointer;
  user-select: none;
  /* filter: brightness(50%); */
}
/* global ends  */

/* body  */
/* body ends  */

/* background container starts  */
.background-container {
  width: 100vw;
  /* filter: brightness(20%); */
}
/* background container ends  */

/* container starts  */
.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 5rem 90vh 10vh 50vh 130vh 60vh 225vh 70vh 130vh 140vh 90vh 80vh;
}
/* container ends  */

/* menu starts  */
.menu {
  /* background-color: black; */
  /* border-bottom: 3px solid var(--orange); */
  grid-row: 1/2;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 5fr 3fr 1fr;
  padding: 10px 5rem;
  transition: all 1000ms ease;
}
.menu > i {
  display: none;
}

/* menu children starts  */
/* menu h1 starts  */
.menu > h1 {
  grid-column: 1/2;
  align-self: center;
  font-family: Roboto;
  color: black;
  font-weight: 600;
}
.menu > h1 > span {
  color: var(--orange);
  font-weight: 900;
  font-size: 2.5rem;
}
/* menu h1 ends  */

/* menu ul starts  */
.menu > ul {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.menu > ul > li {
  list-style: none;
}
.menu > ul > li:hover {
  border-bottom: 2px solid var(--orange);
  transition: all 500ms ease;
}
.menu > ul > li > a {
  text-decoration: none;
  font-size: 1rem;
  font-family: Roboto;
  /* color: white; */
  color: black;
}
.menu > ul > li > a:hover {
  color: var(--orange);
  transition: all 1000ms ease;
}

/* menu ul ends  */

/* menu button starts here  */
.menu > button {
  height: 3rem;
  width: 8rem;
  align-self: center;
  border-radius: 3rem;
  outline: none;
  background-color: black;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.menu > button:hover {
  outline: none;
}
.menu > button > a {
  color: white;
  font-family: Roboto;
  font-size: 1rem;
  /* font-weight: 700; */
  text-decoration: none;
}
.menu > button:hover a {
  font-size: 0.93rem;
  transition: all 1000ms ease;
}
/* menu button ends here  */
/* menu children ends  */
/* menu ends  */
.mobile-menu {
  grid-row: 2/5;
  grid-column: 1/-1;
  z-index: 5;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: var(--orange);
  /* display: none; */
  /* opacity: .5; */
}
.mobile-menu > li {
  list-style: none;
  margin: 1rem;
}
.mobile-menu > li > a {
  font-size: 2rem;
  text-decoration: none;
  color: white;
}
.mobile-menu > button {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  width: 12rem;
  height: 4rem;
  background-color: black;
  border-radius: 3rem;
  margin-top: 2rem;
  border: none;
}
.mobile-menu > button > a {
  text-decoration: none;
  color: white;
  font-size: 1rem;
}
/* hero starts  */
.hero {
  grid-row: 2/3;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  z-index: 4;
}
.hero1 > h3 {
  font-family: Roboto;
  font-size: 2rem;
  font-weight: 600;
  color: black;
  padding-left: 1rem;
}
.hero1 > h1 {
  font-family: Roboto;
  font-size: 8rem;
  font-weight: 900;
  background-color: black;
  color: white;
  margin-bottom: 0.8rem;
  padding: 1rem;
  transition: all 1000ms ease;
  text-align: center;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
  border-radius: 8px;

  /* animaton  */

  animation-name: my-animation-h1;
  animation-duration: 8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes my-animation-h1 {
  from {
    background-color: var(--orange);

    color: white;
  }
  to {
    /* background-color: white; */
    background: white;
    /* color: var(--orange); */
    box-shadow: none;
  }
}
/* enimation ends  */

.hero1 > .border {
  height: 0.6rem;
  background-color: var(--orange);
  width: 40rem;
}
.hero1 > h2 {
  font-family: Roboto;
  font-size: 2.5rem;
  color: black;
  padding-left: 1rem;
  text-align: center;
}
.hero1 > p {
  font-family: Roboto;
  font-size: 1.4rem;
  font-weight: 500;
  background: var(--orange);
  color: white;
  /* padding-left: 1rem; */
  text-align: center;
}

/* hero 2 starts  */

/* trash  */
.hero2 {
  grid-row: 3/4;
  grid-column: 1/-1;
  gap: 1rem;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}
.hero2 > div {
  /* overflow:hidden; */

  /* animation properties */
  animation-name: my-animation;
  animation-duration: 2s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;

  /* other properties */
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  position: relative;
  left: 2rem;
  right: 0;
  margin-left: 30px;
  margin-right: 30px;
}

@keyframes my-animation {
  from {
    background-color: white;
    width: 2rem;
    /* top: 300px; */
    /* overflow: hidden; */
  }
  to {
    background-color: var(--orange);
    width: 2rem;
    /* top: 300px; */
    left: 10rem;
    /* overflow: hidden; */
  }
}

/* trash  */
/* hero ends  */

/* details starts  */
.details {
  /* background: blue; */
  grid-row: 4/5;
  grid-column: 1/-1;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
  z-index: 4;
}
/* details children start here  */
.details > h2 {
  font-size: 3rem;
  color: var(--orange);
  border-bottom: 4px solid var(--orange);
  padding-bottom: 10px;
}
.details > p {
  font-size: 1.5rem;
}
.details > h4 {
  font-size: 2rem;
  border-top: 4px solid var(--orange);
  padding-top: 10px;
}
/* details children ends here  */
/* details ends  */

/* pricing starts  */
.pricing {
  /* background: grey; */
  height: 100%;
  grid-row: 5/6;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 0.8fr 0.8fr;
  grid-template-rows: 80vh;
  padding: 8rem 18rem;
  gap: 4rem;

  /* margin-bottom: 2rem; */
}

/* pricing children starts  */
.pricing > div {
  /* background: #222222; */
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  /* box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px; */
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 8px;
  border-radius: 30px;
}
/* starter starts  */

/* starter children starts  */
/* .pricing>div:hover{
        transform: translate(0,20px);
        transition: all 800ms ease;
    } */
.pricing > div:hover button {
  font-size: 1rem;
  transform: translate(0, 1.5rem);
  grid-column: 4/10;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 1000ms ease;
}
.pricing > div > .top {
  grid-column: 1/-1;
  grid-row: 1/3;
  background: var(--orange);
}
.pricing > div > button {
  grid-row: 1/2;
  background: black;
  grid-column: 4/10;
  z-index: 3;
  color: white;
  font-weight: 500;
  font-size: 1rem;
  border-radius: 0 20px;
  border: none;
}
.pricing > div > button:hover {
  font-size: 1rem;
  transform: translate(0, 1.5rem);
  transition: all 1000ms ease;
}
.pricing > div > h1 {
  grid-row: 3/5;
  grid-column: 5/10;
  color: var(--orange);
  padding-top: 2rem;
}
.pricing > div > .details {
  grid-column: 1/-1;
  grid-row: 4/-1;
  display: grid;
  grid-template-rows: repeat(9, 1fr);
}
.pricing > div > .details > div {
  display: grid;
  grid-template-columns: 1fr 5fr;
}
.pricing > div > .details > div > i {
  grid-column: 1/2;
  color: var(--orange);
  font-size: 1rem;
}
.pricing > div > .details > div > i:nth-child(1) {
  z-index: 10;
}
.pricing > div > .details > div > i:nth-child(2) {
  /* z-index: 11; */
  display: none;
}

.pricing > div > .details > div > p {
  grid-column: 2/3;
  color: black;
  user-select: none;
  font-size: 0.8rem;
}
.pricing > div > .details > div > p:hover {
  transform: translate(5px, 0);
  transition: all 800ms ease;
}

/* starter children ends  */
/* starter ends  */

/* pricing children ends  */

/* pricing ends  */

/* pricing quote starts  */
.pricing-quote {
  grid-row: 6/7;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 4rem;
  padding: 0 3rem;
  background: #000;
}
.pricing-quote > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 0.8rem;
}
/* orange line  */
.pricing-quote > div > div {
  height: 10px;
  background: var(--orange);
  width: 30rem;
}
/* orange line ends  */

.pricing-quote > div > i {
  color: white;
}
.pricing-quote > div > h2 {
  color: var(--orange);
}
.pricing-quote > div > h1 {
  color: white;
}
.pricing-quote > div > p {
  color: white;
  font-size: 0.8rem;
  text-align: center;
}

/* pricing quote business quote one  */
.pricing-quote > div:nth-child(1) {
  grid-column: 1/2;
}
.pricing-quote > div:nth-child(1) > i {
  font-size: 8rem;
}
/* pricing quote business quote one  ends */
/* pricing quote business quote two  */
.pricing-quote > div:nth-child(2) {
  grid-column: 2/3;
}
.pricing-quote > div:nth-child(2) > i {
  font-size: 8rem;
}
/* pricing quote business quote two ends  */

/* pricing quote ends  */

/* transparent starts  */
.transparent {
  grid-row: 7/8;
  display: grid;
  grid-template-rows: 1fr 2fr;
  padding: 2rem;
}
/* transparent children starts  */
.transparent > .quote {
  grid-row: 1/2;
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 1rem;
}
.transparent > .quote > .line1 {
  height: 10px;
  width: 80%;
  background: var(--orange);
}
.transparent > .quote > h1 {
  width: 50%;
  color: var(--orange);
  font-size: 3rem;
  text-align: center;
}
.transparent > .quote > .line2 {
  height: 10px;
  width: 80%;
  background: var(--orange);
}
.quote > i {
  font-size: 12rem;
}
.quote > i {
  animation-name: my-animation-quote-h1;
  animation-duration: 0.8s;
  animation-direction: alternate;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes my-animation-quote-h1 {
  from {
    color: var(--orange);

    /* color: white; */
  }
  to {
    color: white;
  }
}

.transparent > .blog {
  display: grid;
  grid-template-columns: 2fr 1.5fr 1.5fr 1.5fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 1rem;
  padding: 3rem;
}

/* 2,3,5,6  */
/* dark */
/* 1,4,7,8,9 */
/* light  */
/* blog children starts  */
.blog > div {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 10px;
}
.blog > div > p {
  font-family: Roboto;
  font-size: 0.8rem;
  color: white;
}
.blog > div > p > span {
  font-size: 1.2rem;
}
.blog > div:nth-child(1) {
  grid-column: 2/4;
  grid-row: 1/2;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}

.blog > div:nth-child(2) {
  grid-column: 4/5;
  grid-row: 1/2;
  background: var(--orange);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.blog > div:nth-child(3) {
  grid-column: 3/4;
  grid-row: 2/3;
  background: var(--orange);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.blog > div:nth-child(4) {
  grid-column: 4/5;
  grid-row: 2/3;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blog > div:nth-child(5) {
  grid-column: 2/3;
  grid-row: 3/4;
  background: var(--orange);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.blog > div:nth-child(6) {
  grid-column: 4/5;
  grid-row: 3/4;
  background: var(--orange);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
.blog > div:nth-child(7) {
  grid-column: 1/3;
  grid-row: 4/5;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blog > div:nth-child(8) {
  grid-column: 3/4;
  grid-row: 3/5;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blog > div:nth-child(9) {
  grid-column: 4/5;
  grid-row: 4/5;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blog > div:nth-child(10) {
  grid-column: 1/3;
  grid-row: 5/6;
  background: white;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
.blog > div:nth-child(11) {
  grid-column: 3/5;
  grid-row: 5/6;
  background: var(--orange);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
    rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

/* blog utility  */
.blog > div:nth-child(1) > p {
  color: var(--orange);
}
.blog > div:nth-child(4) > p {
  color: var(--orange);
}
.blog > div:nth-child(7) > p {
  color: var(--orange);
}
.blog > div:nth-child(8) > p {
  color: var(--orange);
}
.blog > div:nth-child(9) > p {
  color: var(--orange);
}
.blog > div:nth-child(10) > p {
  color: var(--orange);
}
/* .blog>div:nth-child(1)>p>span{
            color: white;

        }
        .blog>div:nth-child(4)>p>span{
            color: white;

        }
        .blog>div:nth-child(7)>p>span{
            color: white;

        }
        .blog>div:nth-child(8)>p>span{
            color: white;

        }
        .blog>div:nth-child(9)>p>span{
            color: white;

        } */
/* blog utility  */
/* blog children ends  */

/* transparent children ends  */
/* transparent ends  */

/* cards starts  */
.cards {
  /* background: violet; */
  grid-row: 8/9;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 2rem 5rem;
  gap: 3rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
/* cards left starts  */
.cards > .left {
  grid-column: 1/2;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 0.8rem;
  padding-right: 5rem;
}
.cards > .left > h1 {
  font-size: 3rem;
}
.cards > .left > .border {
  height: 20px;
  width: 10rem;
  background: var(--orange);
}

/* cards left ends  */

/* cards right starts  */
.cards > .right {
  padding-top: 6rem;
  grid-column: 2/3;
  /* box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px; */
  display: grid;
  grid-template-rows: 6rem 1fr 5rem;
}
.cards > .right > h3 {
  font-size: 1.8rem;
  /* text-align: center; */
  color: var(--orange);
}
.cards > .right > .buttons {
  /* box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px; */
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 1rem;
  align-items: center;
}
.right > .buttons > button {
  height: 3rem;
  width: auto;
  padding: 0 3rem;
  border: none;
  background: black;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  border-radius: 2rem;
  color: white;
  font-size: 0.8rem;
}
.right > p {
  color: var(--orange);
}

/* cards right ends  */
/* cards ends  */

/* our process starts here  */
.ourprocess-ok {
  grid-row: 9/10;
  padding: 5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 2rem;
  background: var(--orange);
}
.ourprocess-ok > div {
  /* padding: 1rem; */
  box-shadow: 0px 6px 10px rgba(245, 245, 245, 0.25);
  border-radius: 10px;
  transition: all 0.2s;
  color: white;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.ourprocess-ok > div > i {
  font-size: 2rem;
  color: var(--orange);
}
.ourprocess-ok > div > p {
  font-size: 0.8rem;
}
.ourprocess-ok > div > p > span {
  font-size: 1rem;
  font-weight: 700;
  color: var(--orange);
}
.ourprocess-ok > div > button {
  height: 2.6rem;
  width: 7rem;
  border-radius: 40px;
  border: none;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  transition: all 0.8s ease;
  color: #fa99b2;
  font-weight: 700;
  font-size: 1rem;
  background: white;
  /* background: radial-gradient(#1fe4f5, #3fbafe); */
}
.ourprocess-ok > div {
  background: white;
}
/* our process children starts  */
.ourprocess-ok > div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
  /* background: radial-gradient(black, var(--orange)); */
  /* background: radial-gradient(#fbc1cc, var(--orange)); */
  background: black;
}
.ourprocess-ok > div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
  /* background: radial-gradient(#fbc1cc, var(--orange)); */
  background: black;
}
/* div 2 children  */

/* div 2 children ends  */
.ourprocess-ok > div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
  /* background: radial-gradient(#76b2fe, var(--orange)); */
  /* background: radial-gradient(#fbc1cc, var(--orange)); */
  background: black;
}
.ourprocess-ok > div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
  /* background: radial-gradient(#60efbc, var(--orange)); */
  /* background: radial-gradient(#fbc1cc, var(--orange)); */
  background: black;
}
.ourprocess-ok > div:nth-child(5) {
  grid-column: 1/2;
  grid-row: 3/4;
  /* background: radial-gradient(#f588d8, var(--orange)); */
  /* background: radial-gradient(#fbc1cc, var(--orange)); */
  background: black;
}
.ourprocess-ok > div:nth-child(6) {
  grid-column: 2/3;
  grid-row: 3/4;
  /* background: radial-gradient(#90e8cc, var(--orange)); */
  /* background: radial-gradient(#fbc1cc, var(--orange)); */
  /* background: radial-gradient(rgb(108, 85, 85), var(--orange)); */
  background: black;
}
/* out process children ends  */
/* our process ends  */

/* portfolio ok starts  */
.portfolio-ok {
  grid-row: 10/11;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 3rem 3rem 3rem;
  gap: 2rem;
  padding: 12rem 3rem;
  /* background: #000; */
}
/* porfolio front cards ends  */

/* portfolio ok children starts  */
/* .portfolio-left  */
.portfolio-left {
  grid-column: 1/2;
  display: grid;
  grid-template-rows: 3fr 1fr 0.8fr 1fr;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px;
  transition: all 1s ease;
}
.portfolio-left > img {
  grid-row: 1/2;
  height: 100%;
  width: 100%;
  overflow: hidden;
  filter: brightness(80%);
}
.portfolio-left > h1 {
  grid-row: 2/3;
  font-size: 2.7rem;
  margin-left: 1rem;
  align-self: center;
  color: var(--orange);
}
.portfolio-left > p {
  grid-row: 3/4;
  text-align: start;
  color: black;
  align-self: center;
  margin: 0 1rem;
  font-size: 1.2rem;
}
.portfolio-left > button {
  grid-row: 4/5;
  height: 3rem;
  width: 8rem;
  justify-self: start;
  align-self: center;
  margin-left: 1rem;
  background: #000;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 3rem;
}
.portfolio-left > button > a {
  text-decoration: none;
  font-size: 0.8rem;
  color: white;
}
/* .portfolio-left ends  */

/* .portfolio-right starts  */
.portfolio-right {
  grid-column: 2/3;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 1rem;
  overflow: hidden;
}
.portfolio-right > div:nth-child(1) {
  grid-column: 1/2;
  grid-row: 1/2;
}
.portfolio-right > div:nth-child(2) {
  grid-column: 2/3;
  grid-row: 1/2;
}
.portfolio-right > div:nth-child(3) {
  grid-column: 1/2;
  grid-row: 2/3;
}
.portfolio-right > div:nth-child(4) {
  grid-column: 2/3;
  grid-row: 2/3;
}
.portfolio-right > div:nth-child(5) {
  grid-column: 1/2;
  grid-row: 3/4;
}
.portfolio-right > div:nth-child(6) {
  grid-column: 2/3;
  grid-row: 3/4;
}

.portfolio-right > div {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  border-radius: 10px;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
.portfolio-right > div > img {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 3;
  height: 100%;
  width: 100%;
  filter: brightness(18%);
}
.portfolio-right > div > i {
  grid-row: 1/2;
  grid-column: 1/2;
  z-index: 4;
  color: white;
  font-size: 4rem;
  justify-self: center;
  align-self: center;
}
.portfolio-right > div > i:hover {
  font-size: 3rem;
  transition: all 0.8s ease;
}
/* .portfolio-right ends  */

.mobile-portfolio {
  grid-row: 10/11;
  display: none;
}

/* portfolio children ends  */
/* frequently ased questions starts  */
.frequently {
  grid-row: 11/12;
  padding: 2rem 8rem;
  display: grid;
  grid-template-columns: 1fr 1rem 1.8fr;
  grid-template-rows: 3rem 6fr;
  column-gap: 10rem;
  row-gap: 2rem;
}

.frequently > .frequently-asked {
  grid-row: 1/2;
  grid-column: 1/-1;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.frequently-asked>i{
  display: none;
}
.frequently-asked > h1 {
  font-size: 3rem;
  color: var(--orange);
}
.frequently > .querry {
  display: block;
  grid-row: 2/3;
  grid-column: 1/2;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  display: grid;
  grid-template-rows: repeat(14, 1fr);
  padding: 1rem;
  /* overflow-y: scroll; */
}
.frequently > .querry > p {
  align-self: center;
}
.frequently > .querry > p {
  color: #000;
  overflow: hidden;
  font-size: 0.8rem;
  text-decoration: none;
}
.frequently > .querry > p:nth-child(1) {
  color: var(--orange);
}
.frequently > .querry > p:hover {
  color: var(--orange);
}
.frequently > .line-div-div {
  grid-column: 2/3;
  grid-row: 2/3;
  background-color: var(--orange);
  height: 80%;
  align-self: center;
}
.frequently > .answer-frequently {
  grid-column: 3/4;
  grid-row: 2/3;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3rem;
}
.answer-frequently > h1 {
  font-size: 1.8rem;
}
.answer-frequently > p {
  font-size: 1rem;
}
.answer-frequently > small {
  font-size: 0.8rem;
  color: var(--orange);
}
.mobile-answer{
  display: none;
}
/* frequently asked questions ends  */
/* portfolio ok ends  */
.footer-ok {
  /* background: black; */
  grid-row: 12/13;
  grid-column: 1/-1;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  padding: 5rem 10rem;
  background: #000;
}
/* form starts  */
.footer-ok > .form {
  grid-column: 1/2;
  grid-row: 1/2;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 4fr 1fr;
  gap: 0.7rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 10px 0 0 10px;
  padding: 2rem;
  background: white;
  /* user-select: text; */
}
.footer-ok > .form > h1 {
  grid-column: 1/2;
  grid-row: 1/2;
  color: var(--orange);
}
.footer-ok > .form > input {
  box-shadow: inset 0 0 1px 1px #888;
  border: none;
  border-radius: 3px;
}
.footer-ok > .form > input[type="text"] {
  font-size: 1rem;
  padding-left: 1rem;
}
.footer-ok > .form > input::placeholder {
  font-size: 0.8rem;
  padding-left: 0.5rem;
}
.footer-ok > .form > #message::placeholder {
  position: relative;
  bottom: 3rem;
  right: 1rem;
}
.footer-ok > .form > #name {
  grid-column: 1/2;
  grid-row: 2/3;
  box-shadow: inset 0 0 1px 1px #888;
  border: none;
}
.footer-ok > .form > #email {
  grid-column: 2/3;
  grid-row: 2/3;
}
.footer-ok > .form > #subject {
  grid-column: 1/3;
  grid-row: 3/4;
}
.footer-ok > .form > #message {
  grid-column: 1/3;
  grid-row: 4/5;
  display: flex;
  align-items: flex-start;
}
.footer-ok > .form > button {
  grid-column: 1/2;
  grid-row: 5/6;
  border: none;
  background-color: var(--orange);
  height: 3rem;
  width: 8rem;
  border-radius: 3rem;
  color: white;
  font-size: 0.8rem;
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
/* form ends  */

/* icons starts  */
.footer-ok > .icons {
  grid-column: 2/3;
  grid-row: 1/-1;
  background-color: var(--orange);
  box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  border-radius: 0 10px 10px 0;
  /* transform:rotateX('180'); */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  padding: 5rem;
}
.footer-ok > .icons > i {
  font-size: 3rem;
  color: white;
  justify-self: center;
  align-self: center;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
}
/* icons ends  */

/* classlist  */
/* set attribute  */
#hidden {
  display: none;
}
.hidden-one {
  display: none;
}

/* 900 media starts  */
@media only screen and (max-width: 1300px) {
  .pricing {
    padding: 2rem 5rem;
  }
  .container {
    grid-template-rows: 5rem 90vh 10vh 50vh 90vh 60vh 280vh 90vh 130vh 140vh 90vh 80vh;
  }
  .transparent {
    display: grid;
    grid-template-rows: 1fr 3fr;
  }
  .transparent > .blog {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(11, 1fr);
  }

  .blog > div {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div > p {
    color: var(--orange);
  }
  .blog > div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(6) {
    grid-column: 1/2;
    grid-row: 6/7;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(7) {
    grid-column: 1/2;
    grid-row: 7/8;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(8) {
    grid-row: 8/9;
    grid-column: 1/2;
    background-color: white;
    color: var(--orange);

    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(9) {
    grid-column: 1/2;
    grid-row: 9/10;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(10) {
    grid-column: 1/2;
    grid-row: 10/11;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
  .blog > div:nth-child(11) {
    grid-column: 1/2;
    grid-row: 11/12;
    background-color: white;
    color: var(--orange);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px,
      rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
  }
}
/* 1300 media ends  */

/* 1000 media starts  */
@media only screen and (max-width: 1000px) {
  .container {
    grid-template-rows: 5rem 50vh 10vh 50vh 90vh 60vh 280vh 110vh 130vh 360vh 100vh 90vh;
  }
  .menu {
    display: grid;
    grid-template-columns: 1fr 2rem;
    grid-template-rows: 1fr;
    padding: 0 2rem;
    align-items: center;
  }
  .menu > i {
    display: inline-block;
    font-size: 2rem;
    color: var(--orange);
    grid-column: 2/3;
    grid-row: 1/2;
  }

  .menu > ul {
    display: none;
  }
  .menu > button {
    display: none;
  }
  .cards > .right {
    display: grid;
    grid-template-rows: 1fr 4fr 1fr;
    padding-top: 9rem;
  }
  .cards > .right > .buttons {
    width: 100%;
    justify-content: space-evenly;
  }
  .portfolio-ok {
    display: none;
  }
  .mobile-portfolio {
    display: block;
    padding: 5rem 3rem;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 1rem;
  }
  .mobile-portfolio > div {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    border-radius: 10px;
    box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  }
  .mobile-portfolio > div > img {
    grid-column: 1/2;
    grid-row: 1/2;
    height: 100%;
    width: 100%;
    filter: brightness(10%);
    z-index: 6;
    filter: 20%;
  }
  .mobile-portfolio > div > div {
    grid-column: 1/2;
    grid-row: 1/2;
    z-index: 7;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2rem;
  }
  .mobile-portfolio > div > div > h1 {
    font-size: 3rem;
    color: var(--orange);
    padding-left: 2rem;
  }
  .mobile-portfolio > div > div > p {
    font-size: 1rem;
    color: white;
    padding-left: 2rem;
  }
  .mobile-portfolio > div > div > i {
    font-size: 5rem;
    color: white;
    align-self: center;
  }

  .frequently {
    padding: 2rem 1rem;
    grid-template-rows: 3rem 1fr;
    column-gap: 1rem;
  }
  .frequently > .querry {
    align-self: center;
    height: 60%;
    padding: 1rem 1rem;
  }
  .frequently > .line-div-div {
    height: 50%;
  }
  /* mobile frequently starts  */
  .mobile-frequently{
    display: none;
  }
  /* mobile frequently ends  */
  .footer-ok {
    grid-template-columns: 7fr 1fr;
    grid-template-rows: 1fr;
    background: var(--orange);
  }
  .footer-ok > .form {
    grid-column: 1/2;
    grid-row: 1/2;
    /* box-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25); */
    /* border-radius: 10px 10px 0 0; */
  }
  .footer-ok > .form > button {
    background: #000;
  }
  .footer-ok > .icons {
    grid-column: 2/3;
    grid-row: 1/2;
    background: #000;
    /* border-radius: 0 0 10px 10px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    gap: 1rem;
  }
  .footer-ok > .icons > i {
    font-size: 1.7rem;
  }
}
/* 1000 media ends  */

/* 900 media starts  */
@media only screen and (max-width: 890px) {
  .container {
    grid-template-rows: 5rem 40vh 5vh 50vh 150vh 90vh 350vh 150vh 280vh 250vh 90vh 80vh;
  }
  .menu{
    padding: 0 .8rem;
  }
  .menu>h1{
    font-size: 1.6rem;
  }
  .menu>h1>span{
    font-size: 1.8rem;
  }
  .hero1 > h3 {
    font-size: 1.6rem;
  }
  .hero1 > h1 {
    font-size: 5rem;
  }
  .hero1 > .border {
    width: 100%;
    justify-self: center;
    align-self: center;
  }
  .hero1 > h2 {
    font-size: 1.2rem;
  }
  .hero2 > div {
    left: 0;
    align-self: center;
  }
  @keyframes my-animation {
    from {
      background-color: white;
      width: 2rem;
      /* top: 300px; */
      /* overflow: hidden; */
    }
    to {
      background-color: var(--orange);
      width: 2rem;
      /* top: 300px; */
      left: 5rem;
      /* overflow: hidden; */
    }
  }

  .details > h2 {
    font-size: 2rem;
    text-align: center;
  }
  .details > p {
    font-size: 1rem;
    text-align: center;
  }
  .details > h4 {
    font-size: 1.7rem;
    text-align: center;
  }
  .pricing {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
  }
  .pricing-quote {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 2rem;
    padding: 2rem 1rem;
  }
  .pricing>div>h1{
    font-size: 1.6rem;
  }
  .pricing-quote > div:nth-child(1) {
    grid-row: 1/2;
    grid-column: 1/2;
  }
  .pricing-quote > div:nth-child(2) {
    grid-row: 2/3;
    grid-column: 1/2;
  }
  /* transparent  */
  .transparent {
    grid-template-rows: 1.6fr 5fr;
    padding: 1rem;
  }
  .transparent>.blog{
    padding: 1rem;
  }
  /* transparent  */
  .transparent > .quote > h1 {
    width: 90%;
    font-size: 2rem;
  }
  .cards {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
    padding: 2rem 1rem;
    gap: 1rem;
  }
  .cards > .left {
    grid-column: 1/2;
    grid-row: 1/2;
    align-items: flex-start;
  }
  .cards > .left > h1 {
    font-size: 2rem;
  }
  .cards > .left > .border {
    height: 10px;
    width: 30%;
  }
  .cards > .left > p {
    font-size: 1rem;
  }
  .cards > .right {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .ourprocess-ok {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
    gap: 1rem;
    padding: 2rem 2rem;
  }
  .ourprocess-ok > div:nth-child(1) {
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .ourprocess-ok > div:nth-child(2) {
    grid-column: 1/2;
    grid-row: 2/3;
  }
  .ourprocess-ok > div:nth-child(3) {
    grid-column: 1/2;
    grid-row: 3/4;
  }
  .ourprocess-ok > div:nth-child(4) {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .ourprocess-ok > div:nth-child(5) {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .ourprocess-ok > div:nth-child(6) {
    grid-column: 1/2;
    grid-row: 6/7;
  }
  .mobile-portfolio > div > div > h1 {
    font-size: 1.8rem;
    padding-left: 1rem;
  }
  .mobile-portfolio > div > div > p {
    font-size: 0.8rem;
    padding-left: 1rem;
  }
  .mobile-portfolio > div > div > i {
    font-size: 3rem;
  }
  .frequently{
    grid-template-columns: 1fr;
    grid-template-rows: 10rem 1fr;
    column-gap: 1rem;
    padding: 1rem;
  }
  .line-div-div{
    display: none;
  }
  .frequently>.frequently-asked{
    grid-column: 1/2;
    grid-row: 1/2;
    display: grid;
    grid-template-columns: 1fr;
    padding: 1rem 0;
  }
  
  .frequently-asked>h1{
    font-size: 1.5rem;
  }
  .frequently>.querry{
  display: none;
  }
  .frequently>.answer-frequently{
    display: none;
  }
  .mobile-answer{
    display: block;
    grid-column: 1/2;
    grid-row: 2/3;
    z-index: 4;
    gap: 4rem;
    overflow-x: scroll;
    display: grid;
    grid-template-columns: repeat(15,100%);
  }
  .mobile-answer>div{
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
  }
  .mobile-answer>div>small{
    color: var(--orange);
  }
  .footer-ok{
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 5fr;
    padding: 1rem;
  }
  .footer-ok>.form{
    grid-column: 1/2;
    grid-row: 2/3;
    grid-template-columns: 1fr;
    grid-template-rows: 2fr 1fr 1fr 1fr 4fr 1fr;
    border-radius:0 0 10px 10px;

  }
  .footer-ok>.form>h1{
    grid-column: 1/2;
    grid-row: 1/2;
  }
  .footer-ok > .form > #name {
    grid-column: 1/2;
    grid-row:2/3 ;
  }
  .footer-ok > .form > #email {
    grid-column: 1/2;
    grid-row: 3/4;

  }
  .footer-ok > .form > #subject {
    grid-column: 1/2;
    grid-row: 4/5;
  }
  .footer-ok > .form > #message {
    grid-column: 1/2;
    grid-row: 5/6;
  }
  .footer-ok > .form > button {
    grid-column: 1/2;
    grid-row:6/7;
  }

  .footer-ok>.icons{
    grid-column: 1/2;
    grid-row: 1/2;
    display: flex;
    flex-wrap: wrap;
    padding: .8rem;
    border-radius: 10px 10px 0 0;
  
  }
  .footer-ok>.icons>i{
    font-size: 1.2rem;
  color: white;
  justify-self: center;
  align-self: center;
  text-shadow: 0px 6px 10px rgba(0, 0, 0, 0.25);
  }
}
/* 900 media ends  */


/* 400 starts  */
@media only screen and (max-width: 890px) {

.container{
  grid-template-rows: 5rem 40vh 5vh 50vh 150vh 100vh 390vh 180vh 300vh 270vh 100vh 88vh;
}
.pricing-quote{
  padding: 0 1rem;
}
.blog{
  padding: 1rem;
}
.cards>.right{
  padding: 1rem;
}



}

/* 400 ends  */